<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HOME </title>
    <%- include('bootstrap') %>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> ECOMMERCE </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Cart </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            

          </div>
        </div>
      </nav>

      <div class="container-fluid" style="padding-left:40px;">
        <div class="row">
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/f9d52817f7524d3fb442af3b01717dfa_9366/Runfalcon_3_Cloudfoam_Low_Running_Shoes_Black_HQ3790_01_standard.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> Product Description </h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"> Price </li>
                      <li class="list-group-item"> Discount </li>
                      <li class="list-group-item"> Share </li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link"> Add to Cart </a>
                      <a href="#" class="card-link"> Buy Now </a>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="container-fluid" style="padding-left:20px;">
                    <div class="card" style="width: 18rem;">
                      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/f9d52817f7524d3fb442af3b01717dfa_9366/Runfalcon_3_Cloudfoam_Low_Running_Shoes_Black_HQ3790_01_standard.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"> Product Description </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Price </li>
                        <li class="list-group-item"> Discount </li>
                        <li class="list-group-item"> Share </li>
                      </ul>
                      <div class="card-body">
                        <a href="#" class="card-link"> Add to Cart </a>
                        <a href="#" class="card-link"> Buy Now </a>
                      </div>
                    </div>
                    </div>
            </div>
            <div class="column">
                <div class="container-fluid" style="padding-left:10px;">
                    <div class="card" style="width: 18rem;">
                      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/f9d52817f7524d3fb442af3b01717dfa_9366/Runfalcon_3_Cloudfoam_Low_Running_Shoes_Black_HQ3790_01_standard.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"> Product Description </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Price </li>
                        <li class="list-group-item"> Discount </li>
                        <li class="list-group-item"> Share </li>
                      </ul>
                      <div class="card-body">
                        <a href="#" class="card-link"> Add to Cart </a>
                        <a href="#" class="card-link"> Buy Now </a>
                      </div>
                    </div>
                    </div>
            </div>
            <div class="column">
                <div class="container-fluid" style="padding-left:10px;">
                    <div class="card" style="width: 18rem;">
                      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/f9d52817f7524d3fb442af3b01717dfa_9366/Runfalcon_3_Cloudfoam_Low_Running_Shoes_Black_HQ3790_01_standard.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"> Product Description </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Price </li>
                        <li class="list-group-item"> Discount </li>
                        <li class="list-group-item"> Share </li>
                      </ul>
                      <div class="card-body">
                        <a href="#" class="card-link"> Add to Cart </a>
                        <a href="#" class="card-link"> Buy Now </a>
                      </div>
                    </div>
                    </div>
            </div>
        </div>
      </div>
</body>
</html>